{
  "presets": [
    "@babel/preset-react", [
      "@babel/preset-env", {
        "useBuiltIns": "usage",
        "modules": false
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}